<a href="https://colab.research.google.com/github/TienLungSun/Intelligent-camera/blob/main/Logistic_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#load data file to colab
from google.colab import files
uploaded = files.upload()

Saving BBS fall risk classification.csv to BBS fall risk classification.csv

In [ ]:
fnameLst = list(uploaded.keys())
fname = fnameLst[0]
print(fname)

BBS fall risk classification.csv

In [ ]:
import pandas as pd
df=pd.read_csv(fname)
df.head(3)

   id        dob       date   freq  p1   p2  ...  steps  age  Gender  tug  bbs  y.1
0   1  1944/4/25  2014/8/21  2.285  80  120  ...     13   70       F   11   26    0
1   2  1927/12/1  2014/8/21  1.934  75  118  ...     12   86       F   11   24    0
2   3  1937/9/26  2014/8/21  2.109  80  133  ...     14   76       F   11   22    1

[3 rows x 18 columns]

In [ ]:
df.columns

Index(['id', 'dob', 'date', 'freq', 'p1', 'p2', 'p3', 'p4', 'p5', 'x', 'y',
       'z', 'steps', 'age', 'Gender', 'tug', 'bbs', 'y.1'],
      dtype='object')

In [ ]:
dfx=df[['p1', 'p2', 'p3', 'p4']]
dfx.head(3)

   p1   p2   p3   p4
0  80  120  282  317
1  75  118  263  328
2  80  133  283  318

In [ ]:
dfy=df['y.1']
dfy.head(3)

0    0
1    0
2    1
Name: y.1, dtype: int64

In [ ]:
#convert to numpy array
import numpy as np
x = np.array(dfx.values)
y = np.array(dfy.values)
print(x.shape, y.shape)

(85, 4) (85,)

Train logistic regression model and evaluate using LOO

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import LeaveOneOut
logisticRegr = LogisticRegression()
loo = LeaveOneOut()

In [ ]:
run = 0
correctNo = 0
for train_idx, test_idx in loo.split(x):
  trainx, testx = x[train_idx], x[test_idx]
  trainy, testy = y[train_idx], y[test_idx]
  logisticRegr.fit(trainx, trainy)
  score = logisticRegr.score(testx, testy) 
  print(score, end=",")
  run = run + 1
  if(score > 0.99):
    correctNo = correctNo + 1
accuracy = float(correctNo)/run
print("\n ", run, correctNo, accuracy)

1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,
  85 69 0.8117647058823529

練習 Train logistic regression model and evaluate using k-fold

In [ ]:
#from sklearn.model_selection import KFold
#kf = KFold(n_splits=5)

In [ ]:
from sklearn.model_selection import StratifiedKFold
skf = StratifiedKFold(n_splits=10, random_state=None, shuffle=True)

In [ ]:
# add a break to run for loop only once
for train_idx, test_idx in skf.split(x):
  print(train_idx, "\n", test_idx)
  trainx, testx = x[train_idx], x[test_idx]
  trainy, testy = y[train_idx], y[test_idx]
  logisticRegr.fit(trainx, trainy)
  score = logisticRegr.score(testx, testy)
  break

0.7058823529411765
0.7058823529411765
0.8823529411764706
0.8823529411764706
0.8235294117647058

In [ ]:
logisticRegr.predict(testx)

array([0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0])

In [ ]:
testy

array([0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0])

In [ ]:
logisticRegr.score(testx, testy)

0.7058823529411765

Training loop

In [ ]:
run=0
sum = 0
for train_idx, test_idx in skf.split(x):
  trainx, testx = x[train_idx], x[test_idx]
  trainy, testy = y[train_idx], y[test_idx]
  logisticRegr.fit(trainx, trainy)
  score = logisticRegr.score(testx, testy) 
  print(score, end=",")
  sum = sum + score
  run = run + 1
accuracy = sum/run
print("\n", "Accuracy", accuracy)

0.7058823529411765,0.7058823529411765,0.8823529411764706,0.8823529411764706,0.8235294117647058,
 Accuracy 0.8

Show feature selection frequency and important