<a href="https://colab.research.google.com/github/TienLungSun/AI-Intelligent-Elderly-Care/blob/main/Read%20%E5%85%89%E8%83%BD%E9%87%8F%E6%A9%9F%20data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
fname = "9 simple list.xlsx"

In [ ]:
import pandas as pd
df=pd.read_excel(fname)
df.head(3)

,大分類,小分類,編號,ICD-Code 英文名稱,ICD-Code 中文名稱,60分鐘能量程序數,color code,frequencies,time,color code.1,...,color code.3,frequencies.3,time.3,color code.4,frequencies.4,time.4,color code.5,frequencies.5,time.5,影音編號
0,I,I10,332,Hypertension,高血壓,1,<03>,6,60,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,R,R41,334,Memory loss,記憶力衰退,1,<11>,9,60,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,F,F60,343,Emotion liability(Upset),情緒問題（心煩意亂）,1,<03>,11,60,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.columns

Index(['大分類', '小分類', '編號', 'ICD-Code 英文名稱', 'ICD-Code 中文名稱', '60分鐘能量程序數',
       'color code', 'frequencies', 'time', 'color code.1', 'frequencies.1',
       'time.1', 'color code.2', 'frequencies.2', 'time.2', 'color code.3',
       'frequencies.3', 'time.3', 'color code.4', 'frequencies.4', 'time.4',
       'color code.5', 'frequencies.5', 'time.5', '影音編號'],
      dtype='object')

In [ ]:
code = 334
df.loc[ (df['編號'] == code) ]

,大分類,小分類,編號,ICD-Code 英文名稱,ICD-Code 中文名稱,60分鐘能量程序數,color code,frequencies,time,color code.1,...,color code.3,frequencies.3,time.3,color code.4,frequencies.4,time.4,color code.5,frequencies.5,time.5,影音編號
1,R,R41,334,Memory loss,記憶力衰退,1,<11>,9,60,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#find rows that contain keywords
ChineseKeyword = "閉經"
data = df.loc[ df['ICD-Code 中文名稱'].str.contains(ChineseKeyword) ]
data

,大分類,小分類,編號,ICD-Code 英文名稱,ICD-Code 中文名稱,60分鐘能量程序數,color code,frequencies,time,color code.1,...,color code.3,frequencies.3,time.3,color code.4,frequencies.4,time.4,color code.5,frequencies.5,time.5,影音編號
13,N,N91,129a,Amenorrhea,閉經,4,<13>,2,15,<02>,...,<19>,7.0,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#convert dataframe to list
rowLst = data.values.tolist()[0]
print(rowLst)

['N', 'N91', '129a', 'Amenorrhea', '閉經 ', 4, '<13>', 2, 15, '<02>', 7.0, 15.0, '<01>', 2.0, 15.0, '<19>', 7.0, 15.0, nan, nan, nan, nan, nan, nan, nan]

In [ ]:
#'60分鐘能量程序數'
processNo = rowLst[5]
print(processNo)

4

In [ ]:
idx = 6 #start from column 6
for i in range(processNo):
    color_code = rowLst[idx] 
    #extract No from color_code "<No>"
    color_code = color_code[1:] #remove first "<""
    color_code = color_code[:-1] #remove last ">"
    color_code = int(color_code) #convert string to int
    frequencies = rowLst[idx+1]
    time =rowLst[idx+2]
    print(color_code, frequencies, time)
    idx = idx+3

13 2 15
2 7.0 15.0
1 2.0 15.0
19 7.0 15.0