In [1]:
#load data file to colab
from google.colab import files
uploaded = files.upload()

Saving data3.xlsx to data3 (2).xlsx

In [2]:
fnameLst = list(uploaded.keys())
fname = fnameLst[0]
print(fname)

data3.xlsx

In [3]:
import pandas as pd
df=pd.read_excel(fname)

In [4]:
df.head(496)

              Xn
0   0.000000e+00
1   4.820000e-01
2   8.440000e-01
3   9.980000e-01
4   9.050000e-01
5   5.880000e-01
6   1.250000e-01
7  -3.680000e-01
8  -7.710000e-01
9  -9.820000e-01
10 -9.510000e-01
11 -6.850000e-01
12 -2.490000e-01
13  2.490000e-01
14  6.850000e-01
15  9.510000e-01
16  9.820000e-01
17  7.710000e-01
18  3.680000e-01
19 -1.250000e-01
20 -5.880000e-01
21 -9.050000e-01
22 -9.980000e-01
23 -8.440000e-01
24 -4.820000e-01
25 -4.900000e-16
26  4.820000e-01
27  8.440000e-01
28  9.980000e-01
29  9.050000e-01
30  5.880000e-01
31  1.250000e-01
32 -3.680000e-01
33 -7.710000e-01
34 -9.820000e-01
35 -9.510000e-01
36 -6.850000e-01
37 -2.490000e-01
38  2.490000e-01
39  6.850000e-01
40  9.510000e-01
41  9.820000e-01
42  7.710000e-01
43  3.680000e-01
44 -1.250000e-01
45 -5.880000e-01
46 -9.050000e-01
47 -9.980000e-01
48 -8.440000e-01
49 -4.820000e-01

In [5]:
df.columns

Index(['Xn'], dtype='object')

In [6]:
#select a column
dfx = df[['Xn']]
#dfx = df.x.head()

In [7]:
dfx.head(496)

              Xn
0   0.000000e+00
1   4.820000e-01
2   8.440000e-01
3   9.980000e-01
4   9.050000e-01
5   5.880000e-01
6   1.250000e-01
7  -3.680000e-01
8  -7.710000e-01
9  -9.820000e-01
10 -9.510000e-01
11 -6.850000e-01
12 -2.490000e-01
13  2.490000e-01
14  6.850000e-01
15  9.510000e-01
16  9.820000e-01
17  7.710000e-01
18  3.680000e-01
19 -1.250000e-01
20 -5.880000e-01
21 -9.050000e-01
22 -9.980000e-01
23 -8.440000e-01
24 -4.820000e-01
25 -4.900000e-16
26  4.820000e-01
27  8.440000e-01
28  9.980000e-01
29  9.050000e-01
30  5.880000e-01
31  1.250000e-01
32 -3.680000e-01
33 -7.710000e-01
34 -9.820000e-01
35 -9.510000e-01
36 -6.850000e-01
37 -2.490000e-01
38  2.490000e-01
39  6.850000e-01
40  9.510000e-01
41  9.820000e-01
42  7.710000e-01
43  3.680000e-01
44 -1.250000e-01
45 -5.880000e-01
46 -9.050000e-01
47 -9.980000e-01
48 -8.440000e-01
49 -4.820000e-01

In [8]:
#convert to numpy array
import numpy as np
x = np.array(dfx.values)

In [9]:
#x

In [10]:
x.shape

(50, 1)

sample entropy https://en.wikipedia.org/wiki/Sample_entropy

In [11]:
def sampen(time_series, sample_length, tolerance):
 
  N = len(time_series)
  B = 0.0
  A = 0.0
    
  # Split time series and save all templates of length m
  xmi = np.array([time_series[i : i + sample_length] for i in range(N - sample_length)])
  xmj = np.array([time_series[i : i + sample_length] for i in range(N - sample_length + 1)])

  # Save all matches minus the self-match, compute B
  B = np.sum([np.sum(np.abs(xmii - xmj).max(axis=1) <= tolerance) - 1 for xmii in xmi])

  # Similar for computing A
  sample_length += 1
  xm = np.array([time_series[i : i + sample_length] for i in range(N - sample_length + 1)])

  A = np.sum([np.sum(np.abs(xmi - xm).max(axis=1) <= tolerance) - 1 for xmi in xm])

  # Return SampEn
  sampen = -np.log(A / B)
  return sampen

In [12]:
sample_length = 2
tolerance = 0.15 * np.std(x, ddof=1)
sampen = sampen(x, sample_length, tolerance)
print(sampen)

0.5408064559779265